# stuff for virtualenv
bin/
include/
lib/
lib64/
lib64

# normal excludes
*.db
*.py[cod]
*.log
log/
*.sublime-*
secret
secret/

# nginx and uwsgi socket
*.sock

wiki/
wiki
secret/
vassals/flaskapp
sftp-config.json
*conflicted copy*
