<div class=" navbar navbar-fixed-top navbar navbar-default">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ url_for('.home') }}" class="brand">{{ appname() }}</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('.about') }}">About Me</a>
                </li>
                </li>
                <li>
                   <a href="{{ url_for('.home') }}">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
